body {
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
}

.maze-wrap {
	width: 600px;
	height: 600px;
	border: 2px solid #000;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.maze {
	background: #4b4a50;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all 0.1s linear 0s;
}

.maze__cell {
	position: relative;
	background: url(../i/bg.png) repeat 0 0;
	background-size: 100% 100%;
	box-sizing: border-box;
	width: 120px;
	height: 120px;
	float: left;
}

.maze__cell_way_0000 {background-image: url(../i/way_0000.png);}

.maze__cell_way_1000 {background-image: url(../i/way_1000.png);}
.maze__cell_way_0100 {background-image: url(../i/way_0100.png);}
.maze__cell_way_0010 {background-image: url(../i/way_0010.png);}
.maze__cell_way_0001 {background-image: url(../i/way_0001.png);}

.maze__cell_way_1100 {background-image: url(../i/way_1100.png);}
.maze__cell_way_0110 {background-image: url(../i/way_0110.png);}
.maze__cell_way_0011 {background-image: url(../i/way_0011.png);}
.maze__cell_way_1001 {background-image: url(../i/way_1001.png);}

.maze__cell_way_1010 {background-image: url(../i/way_1010.png);}
.maze__cell_way_0101 {background-image: url(../i/way_0101.png);}

.maze__cell_way_1110 {background-image: url(../i/way_1110.png);}
.maze__cell_way_0111 {background-image: url(../i/way_0111.png);}
.maze__cell_way_1011 {background-image: url(../i/way_1011.png);}
.maze__cell_way_1101 {background-image: url(../i/way_1101.png);}

.maze__cell_way_1111 {background-image: url(../i/way_1111.png);}

.maze__cell_exit:after {
	content: "EXIT";
	display: block;
	font-size: 30px;
	font-weight: bold;
	color: green;
	line-height: 120px;
	text-align: center;
}

.player {
	background: url(../i/player.png) no-repeat 0 0;
	background-size: 100% 100%;
	width: 120px;
	height: 120px;
	position: absolute;
	transition: left 0.2s linear 0s, top 0.2s linear 0s;
	z-index: 10;
}

.player.player_left {
	transform: scaleX(-1);
}

.lock-wrap {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
}

.lock {
	background: url(../i/lock.png) no-repeat 0 0;
	width: 300px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.lock__bolts {
	position: relative;
	top: 65px;
	width: 177px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
}

.lock__bolt {
	background: url(../i/bolt.png) no-repeat 0 0;
	box-sizing: border-box;
	width: 20px;
	height: 100%;
	position: relative;
	bottom: 0;
	float: left;
	margin-left: 12px;
}

.lock__bolt_active {
	
}

.lock__bolt_corrected {
	animation: shake 0.1s infinite;
}

.lock__bolt_unlocked {
	border-color: green;
}

@keyframes shake {
	0% {left: 0;}
	50% {left: 1px;}
	100% {left: 0px;}
}

.lock__passkey-wrap {
	height: 100px;
	position: absolute;
	bottom: 100px;
	left: -221px;
}

.lock__passkey {
	background: url(../i/key.png) no-repeat 0 100%;
	width: 312px;
	height: 36px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	transition: left 0.2s ease 0s;
}

.lock__timer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	border: 2px solid #fff;
}

.lock__timer-progress {
	background-color: blue;
	width: 0;
	height: 100%;
	transition: width 30s linear 0s;
}
